</main>

<img id="background-image" src="https://api.urnes.net/get-terje-bw-image?v=footer" alt=""  value="{!$Resource.staticResourceName}">

<footer>

<div id="footer-images">

	<div id='img-container-8' class="footer-image" inFullscreenView="False"></div>
	<div id='img-container-7' class="footer-image" inFullscreenView="False"></div>
	<div id='img-container-6' class="footer-image" inFullscreenView="False"></div>
	<div id='img-container-5' class="footer-image" inFullscreenView="False"></div>
	<div id='img-container-4' class="footer-image" inFullscreenView="False"></div>
	<div id='img-container-3' class="footer-image" inFullscreenView="False"></div>
	<div id='img-container-2' class="footer-image" inFullscreenView="False"></div>
	<div id='img-container-1' class="footer-image" inFullscreenView="False"></div>

</div>

<div id="footer-menu">
	<img src="{{@website.assetsUrl}}/angle-square-left.svg" id="gallery-left-arrow" class="arrow" onclick="scrollGalleryLeft()">
	<img src="{{@website.assetsUrl}}/angle-square-right.svg" id="gallery-right-arrow" class="arrow" onclick="scrollGalleryRight()">
</div>

</footer>

<div id="full-image-view-container">
<div id='image-view-outer-frame'></div>
<div>
	<img src="{{@website.assetsUrl}}/angle-square-left.svg" id="fullscreen-left-arrow" class="fullscreen-arrow">
	<img src="{{@website.assetsUrl}}/angle-square-right.svg" id="fullscreen-right-arrow" class="fullscreen-arrow">

</div>
</div>

	</body>
	
</html>